/* scoped表示样式只在当前组件中生效 */
.block {
    padding: 10px;
}
.login-box {
    width: 200px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.el-menu{
    font-weight: bold;
    background-image:linear-gradient(120deg,#fdfbfb 0%, #ebedee 100%) !important;
}
.el-aside{
    background-image:linear-gradient(120deg,#fdfbfb 0%, #ebedee 100%) !important;
}
.el-menu-vertical {
    position: relative; /* 确保父容器是相对定位 */


}

body {
    background-image:linear-gradient(120deg,#fdfbfb 0%, #ebedee 100%)!important;

}
/* 在你的样式中添加以下CSS */
.dialog-footer {
    display: flex;
    justify-content: space-between;
}

.flex-container {
    display: flex;
    align-items: center; /* 让按钮垂直居中 */
    height: 100%; /* 使按钮高度与父容器高度一致 */
}

/* 可以为注册按钮添加一些额外的样式，例如右边距 */
.register-link {
    margin-right: 10px;
    position: relative; /* 使用相对定位 */
    top: 5px; /* 微调垂直位置 */
}
.weather-info {
    width: 100%;
    margin-bottom: 0px;
    margin-top: 100px;
    background-image:linear-gradient(135deg,#f5f7fa 0%, #c3cfe2 100%)!important;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.weather-header {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
    color: #333;
}

.weather-info {
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 20px;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
    font-weight: 510; /* 可以根据需要调整 */
    font-family:   'Microsoft YaHei', sans-serif;
 /* 设置字体 */
    text-align: left; /* 不居中 */
    box-sizing: border-box;
    margin-bottom: 10px;
}

.weather-info div {
    margin: 5px 0;
}
.weather-info div {
    margin-bottom: 5px; /* 每行之间的间距 */
}

.weather-info .date {
    font-size: 18px; /* 日期更大一些 */
    margin-left: 0px;
    text-align: center;

}
.weather-info .loc{
    font-size: 20px;
    text-align: center;
}
.weather-info .temperature {
    font-size: 14px; /* 温度稍微大一些 */

}

.weather-info .weather {
    font-size: 14px; /* 一般天气描述 */
}
.el-icon {
    margin-right: 5px;
}
