<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.smartagriculture.mapper.CropMapper">

    <select id="getAllCrops" resultType="com.example.smartagriculture.entity.Crop">
        SELECT * FROM crops
    </select>

    <resultMap id="cropResultMap" type="com.example.smartagriculture.entity.Crop">
        <result column="id" property="id"/>
        <result column="crop_name" property="cropName"/>
        <result column="planting_date" property="plantingDate"/>
        <result column="expected_harvest_date" property="expectedHarvestDate"/>
    </resultMap>

    <select id="getCropById" parameterType="Integer" resultMap="cropResultMap">
        SELECT * FROM crops WHERE id = #{id}
    </select>


    <insert id="createCrop" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO crops (crop_name, planting_date, expected_harvest_date)
        VALUES (#{cropName}, #{plantingDate}, #{expectedHarvestDate})
    </insert>


    <delete id="deleteCrop" parameterType="Integer">
        DELETE FROM crops WHERE id = #{id}
    </delete>

    <update id="updateCrop" parameterType="com.example.smartagriculture.entity.Crop">
        UPDATE crops
        SET crop_name = #{cropName},
            planting_date = #{plantingDate},
            expected_harvest_date = #{expectedHarvestDate}
        WHERE id = #{id}
    </update>

</mapper>
