<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.smartagriculture.mapper.FertilizerWateringPlanMapper">

    <!-- 获取所有施肥浇水计划 -->
    <select id="getAllPlans" resultType="com.example.smartagriculture.entity.FertilizerWateringPlan">
        SELECT * FROM fertilizer_watering_plans
    </select>

    <resultMap id="FertilizerWateringPlanMap" type="com.example.smartagriculture.entity.FertilizerWateringPlan">
        <id property="id" column="id" />
        <result property="cropId" column="crop_id" />
        <result property="frequency" column="frequency" />
        <result property="time" column="time" />
        <result property="conditions" column="conditions" />
    </resultMap>
    <!-- 根据ID获取施肥浇水计划 -->
    <select id="getPlanByCropId" parameterType="Integer" resultMap="FertilizerWateringPlanMap">
        SELECT * FROM fertilizer_watering_plans WHERE crop_id = #{cropId}
    </select>
    <select id="getPlanById" parameterType="Integer" resultType="com.example.smartagriculture.entity.FertilizerWateringPlan">
        SELECT * FROM fertilizer_watering_plans WHERE id = #{id}
    </select>

    <!-- 添加新的施肥浇水计划 -->
    <insert id="addPlan" parameterType="com.example.smartagriculture.entity.FertilizerWateringPlan" >
        INSERT INTO fertilizer_watering_plans (crop_id, frequency, time, conditions)
        VALUES (#{cropId}, #{frequency}, #{time}, #{conditions})
    </insert>

    <!-- 更新施肥浇水计划 -->
    <update id="updatePlan" parameterType="com.example.smartagriculture.entity.FertilizerWateringPlan">
        UPDATE fertilizer_watering_plans
        SET  frequency = #{frequency}, time = #{time}, conditions = #{conditions}
        WHERE id = #{id}
    </update>

    <!-- 删除施肥浇水计划 -->
    <delete id="deletePlan" parameterType="Integer">
        DELETE FROM fertilizer_watering_plans WHERE id = #{id}
    </delete>

</mapper>
